language: python
python:
- 3.6
install: pip install -U tox-travis
script: travis_wait 120 tox
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  skip_cleanup: true
  skip_existing: true
  user: __token__
  password:
    secure: O/iFjsRbg9bGb8uDiJZ2ZlkIuWFsKJiUV8suhwe2kH40hyOfwi7Y/jmPmTGkHSuK1k/2GXD524JOuEk3IOppj4//t2iVJM7iaSHPxs+6DSVo3pdLkOSKECYGTWNc3FT2rgsAX12gLu3sI/8TJUreZVsmrej5mkfeWGWGxQjpbsFHAIOyHKpwHPTgUFf6J6TavwMYX50dmfstdZAIPIMMP8KeTHvhnwQ2Gcb/WWVptd9m1A1xlEqrln/2ZIRAWuDWrdPY1JMkFGnXpN4FI6oxGIBQp+VGma3bjYbydfDbc+cKx6PxmWuluI2ifDpMDQMfuatsRDf6M0Cgn3hZujjstaVplH19JiDiT1vFN/L0HRO4DO4lEqjV9xppjsQp/+CIZH48d05+bpgF7CCaTpZyj9JZxEwyydOLC/MjnNx2hdKxSAv2X9GqF6/VrYFg2L2b2CAKj1YbKFmwSPh3vazoobIkUzSoEbC0hP83yy8JQCQj52GkehkAJkBSWBGedsdVtzfMJp12QLQUeQvAv97/hKeFC6T4hO4ngZaNKxdodPRnTdvs15Xg1eSWD2kHUG+FEt2PuHKObiRYyANDVU7JmmCkrF2PGmNm3wlJaUa6wDhx/f5BFxAspH85YaWrb/VT9RSvMcO0We7wpc22PeXJPb7fHP6cGOv4sKkvTMAM3aA=
  on:
    tags: true
    repo: msk-access/bam_collapsing
    python: 3.6
